body {
  background-color: black;
}
.heading {
  color: rgb(17, 205, 215);
}
.light-mode {
  background-color: white;
  color: black;
}

.h {
  line-height: 12px;
  width: 100px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 60px;
  margin-right: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.g {
  line-height: 12px;
  width: 100px;
  font-size: 12pt;
  font-family: tahoma;
  margin-top: 60px;
  margin-right: 150px;
  position: absolute;
  top: 0;
  right: 0;
}
